.block {
  margin-bottom: 38px;

  &_border {
    margin-bottom: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid #d3dce6;
  }
}

.blockTitle {
  display: flex;
  margin-bottom: 26px;
  justify-content: space-between;
  align-items: center;

  &__text {
    color: #3c4858;
    font-size: 18px;
    font-weight: 700;
    flex: 1 1 auto;
  }

  &__right {
    flex: 0 0 auto;
  }
}

.row {
  & + & {
    margin-top: 19px;
  }

  display: table;
  table-layout: fixed;
  width: 100%;
}

.column {
  display: table-cell;
  vertical-align: top;
  width: 2%;

  & + & {
    padding-left: 24px;
  }

  &_1-2 {
    width: 50%;
  }

  &_1-3 {
    width: 33%;
  }

  &_2-3 {
    width: 66%;
  }

  &_1-4 {
    width: 25%;
  }

  &_2-4 {
    width: 50%;
  }

  &_3-4 {
    width: 75%;
  }

  &_1-5 {
    width: 20%;
  }

  &_2-5 {
    width: 40%;
  }

  &_3-5 {
    width: 60%;
  }

  &_4-5 {
    width: 80%;
  }
}

.buttons {
  margin-top: 30px;
}

.icon {
  cursor: pointer;
  text-decoration: none;

  &__symbol {
    width: 27px;
    height: 27px;
    margin-right: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 2;

    & > i {
      color: #fff;
      font-size: 27px;
    }
  }

  &_color {
    &-green {
      background-color: #13ce66;
    }
  }

  &__text {
    line-height: 27px;
    color: #3c4858;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: top;
    display: inline-block;
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #d3dce6;
    margin-top: 10px;
    margin-bottom: 38px;
  }
}
