
.table {
  margin-top: 30px;

  .name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;

    p {
      font-size: 11px;
      line-height: 1.1;
      color: #929499;
    }
  }
}

.pagination {
  margin-top: 43px;
  text-align: center;
}
