$nav-breakpoint: 860px;

.nav {
  list-style: none;

  ul {
    display: flex;
  }

  li {
    margin-left: 15px;

    &.active {
      & > a {
        font-weight: 700;
      }

      &::before {
        background-color: #fa6431;
      }
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
  }
}
