.label {
  display: inline-block;
  margin: 0 30px 0 10px;
}

.row {
  margin-bottom: 30px;
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -15px 30px;

  & > div {
    width: 50%;
    flex: 1 1 auto;
    padding: 10px;
  }
}
