.list {
  margin-left: -8px;
  margin-top: -5px;
}

.item {
  margin-left: 8px;
  margin-top: 5px;
  background: #f5f7f9;
  color: #2e415f;
  font-size: 11px;
  border-radius: 5px;
  padding: 2px 8px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 0 1px #e7e7e7;
}
